﻿<AuthorizeView>
    <Authorized>
        <a>Witaj, @context.User.Identity.Name!</a>
        <form method="post" action="logout">
            <button type="submit" class="nav-link btn btn-link">Wyloguj</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="login">Zaloguj</a>
        <a href="register">Zarejestruj</a>
    </NotAuthorized>
</AuthorizeView>
