﻿@page "/cardetail/{carId:int}"
@inherits CarDetailBase
@attribute [Authorize]

<div class="col-12 row">
    <div class="col-11">
        <h1 class="page-title">Szczegóły dla samochodu: @Car.Brand @Car.Model </h1>
    </div>
    <div class="col-1">
        <MudFab Link="@($"cars")" Icon="@Icons.Rounded.Forward" Size="Size.Small"
                IconSize="Size.Small" Class="ma-1" />
    </div>
</div>
<hr />
<br />


<div class="col-12 row">
    <div class="col-1">

    </div>
    <div class="col-11 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Car Id</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Car.Id</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Marka</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Car.Brand</MudText>
                </div>

            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Model</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Car.Model</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Tablica rejestracyjna</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    <MudText>@Car.Plate</MudText>
                </div>
            </div>
            <div class="form-group row">
                <MudText Class="col-sm-4 col-form-label">Aktywny</MudText>
                <div class="col-sm-8 form-control-plaintext">
                    @if (Car.IsActive)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Medium"></MudIconButton>
                    }
                    else
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Medium"></MudIconButton>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>