﻿@page "/fuelings"
@using Arkos.Workshop.UI.FuelingCrm.ViewModels
@using Arkos.Workshop.UI.CarCrm.ViewModels
@using Arkos.Workshop.UI.DriverCrm.ViewModels

@inherits FuelingBase
@inject IMatToaster Toaster
@attribute [Authorize]

@if (Fuelings == null)
{
    <MudProgressCircular Color="Color.Primary" Style="height:100px;width:100px; position: fixed; top: 50%; left: 50%; " Indeterminate="true" />
}
else
{
    <div class="mud-elevation-5 rounded white pt-2">
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="d-block mt-5 ml-5 mb-2" Typo="Typo.h4">Tankowanie</MudText>
            </MudItem>
            <MudItem xs="6">
                <MudFab @onclick="@(e => OpenDialog(false))" Icon="@Icons.Rounded.Add" Label="Dodaj tankowanie"
                        Size="Size.Small" IconSize="Size.Medium" Color="Color.Primary" Class="mt-3 mb-3 ml-5" />

                <MudFab @onclick="@(e => OpenFilterDialog())" Icon="@Icons.Rounded.FilterList"
                        Size="Size.Small" IconSize="Size.Medium" Color="Color.Primary" Class="mt-3 mb-3 ml-1" />
            </MudItem>
        </MudGrid>
        <MudTable Items="@Fuelings" Hover="true" Striped="true" Filter="new Func<FuelingViewModel, bool>(FilterData)" FixedHeader="true" Elevation="0"
                  Height="530px" SortLabel="Sortby">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.Car.Brand)">Samochód</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.Driver.Name)">Kierowca</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.Fuel)">Ilość paliwa</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.Cost)">Koszt</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.RefuelingMileage)">Przebieg</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<FuelingViewModel, object>(x => x.Date)">Data</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@(context.Car.Brand.ToString() + " " + context.Car.Model.ToString())</MudTd>
                <MudTd>@(context.Driver.Name.ToString() + " " + context.Driver.LastName.ToString())</MudTd>
                <MudTd>@context.Fuel</MudTd>
                <MudTd>@context.Cost</MudTd>
                <MudTd>@context.RefuelingMileage</MudTd>
                <MudTd>@(((DateTime)context.Date).ToString("d.M.yyyy"))</MudTd>
                <MudTd Style="text-align: right">
                    <MudFab Link="@($"fuelingdetail/{context.Id}/{context.Car.Id}/{context.Driver.Id}")" Icon="@Icons.Rounded.Info" Size="Size.Small"
                            IconSize="Size.Small" Class="ma-1" />
                    <MudFab @onclick="@(e => OpenDialog(true, context.Id))" Icon="@Icons.Rounded.Edit"
                            Size="Size.Small" IconSize="Size.Small" Class="ma-1" />
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </div>

    <MatDialog @bind-IsOpen="@DialogIsOpen">
        <MudForm @bind-IsValid="@SuccessValidation">
            <MatDialogContent>
                <MudText Typo="Typo.h6" Class="d-block mt-5">Dodaj tankowanie</MudText><br />
                <MudAutocomplete T="CarViewModel" Label="Samochód" SearchFunc="@AutocompleteDropdownCars" @bind-Value="@CarId"
                                 ToStringFunc="@(e => e == null ? null : $"{e.Brand} {e.Model}")" Class="d-flex mb-4 mr-2"
                                 Required="true">
                </MudAutocomplete>
                <MudAutocomplete T="DriverViewModel" Label="Kierowca" SearchFunc="@AutocompleteDropdownDrivers" @bind-Value="@DriverId"
                                 ToStringFunc="@(e => e == null ? null : $"{e.Name} {e.LastName}")" Class="d-flex mb-4 mr-2"
                                 Required="true">
                </MudAutocomplete>
                <MudTextField Label="Ilość paliwa" @bind-Value="@Fueling.Fuel" Class="d-flex mb-4 mr-2"
                              Required="true" RequiredError="Paliwo jest wymagane!"></MudTextField>
                <MudTextField Label="Koszt paliwa" @bind-Value="@Fueling.Cost" Class="d-flex mb-4 mr-2"
                              Required="true" RequiredError="Koszta są wymagane!"></MudTextField>
                <MudTextField Label="Przebieg" @bind-Value="@Fueling.RefuelingMileage" Class="d-flex mr-2"
                              Required="true" RequiredError="Przebieg jest wymagany!"></MudTextField>
                <MudDatePicker Label="Data" @bind-Date="@Fueling.Date" PickerVariant="PickerVariant.Dialog"
                               DateFormat="dd.MM.yyyy" DisableToolbar="true" Class="d-flex mr-2"
                               Required="true" />
            </MatDialogContent>
        </MudForm>
        <MatDialogActions>
            <MudButton OnClick="ConfirmActionIntoDialog" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save"
                       Color="Color.Primary" Class="mr-1 mt-1 mb-3" Disabled="@(!SuccessValidation)">Dodaj</MudButton>
            <MudButton OnClick="CloseDialog" Variant="Variant.Filled" Class="ml-1 mt-1 mb-3 mr-3">Anuluj</MudButton>
        </MatDialogActions>
    </MatDialog>

    <MatDialog @bind-IsOpen="@FilterDialogIsOpen">
        <MatDialogContent>
            <MudText Typo="Typo.h6" Class="d-block mt-5">Filtrowanie</MudText><br />

            <MudTextField Label="Samochód" @bind-Value="@SearchStringToFilterDialog" Class="d-flex mb-2 mr-2"></MudTextField>

            <MudSelect Label="Rodzaj wartości liczbowej" @bind-Value="@ChooseColumnToFilter">
                <MudSelectItem Value="@FilterNumberTypes[0]">Koszt</MudSelectItem>
                <MudSelectItem Value="@FilterNumberTypes[1]">Ilość paliwa</MudSelectItem>
                <MudSelectItem Value="@FilterNumberTypes[2]">Przebieg</MudSelectItem>
            </MudSelect>

            <MudSelect Label="Operacja" @bind-Value="@ChooseOperationToFilter">
                <MudSelectItem Value="@FilterOperation[0]">==</MudSelectItem>
                <MudSelectItem Value="@FilterOperation[1]">&#8805;</MudSelectItem>
                <MudSelectItem Value="@FilterOperation[2]">&#8804;</MudSelectItem>
            </MudSelect>

            <MudTextField Label="Górna wartość" @bind-Value="@UpperValue" Class="d-inline-flex mb-2"></MudTextField>
            <MudTextField Label="Dolna wartość" @bind-Value="@LowerValue" Class="d-inline-flex mb-2"></MudTextField>

            <MudDatePicker Label="Data początkowa" @bind-Date="@StartFilterDate" PickerVariant="PickerVariant.Dialog"
                           DateFormat="dd.MM.yyyy" DisableToolbar="true" Class="d-flex mb-4 mr-2" />

            <MudDatePicker Label="Data końcowa" @bind-Date="@EndFilterDate" PickerVariant="PickerVariant.Dialog"
                           DateFormat="dd.MM.yyyy" DisableToolbar="true" Class="d-flex mr-2" />
        </MatDialogContent>
        <MatDialogActions>
            <MudButton OnClick="ConfirmFilterDialog" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" Class="mr-1 mt-1 mb-3">Filtruj</MudButton>
            <MudButton OnClick="CloseFilterDialog" Variant="Variant.Filled" Class="ml-1 mt-1 mb-3 mr-3">Anuluj</MudButton>
        </MatDialogActions>
    </MatDialog>
}
<footer id="footerMain">
    <p>
        <img id="logoIconSmall" src="/images/logoIcon.png" alt="Logo">
        <span id="footerText">
            strona wykonana w celach dydaktycznych:
            <a href="mailto:krisrox23@gmail.com" target="_blank">&nbsp;Michał Staruch</a>
        </span>
    </p>
</footer>